<!DOCTYPE html>
<html>
<head>
    <title>Quiz Game Application</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="dashboard-wrapper">

    <div class="dashboard-box">

        <h1>Quiz Game Application</h1>
        <p class="subtitle">
            Online Examination System for Interview Preparation
        </p>

        <div class="role-container">

            <!-- STUDENT -->
            <div class="role-card">
                <h2>Student</h2>
                <p>
                    Register and attend the online examination
                </p>

                <a href="/register"
                   class="role-btn">
                   Student Registration
                </a>
            </div>

            <!-- STAFF -->
            <div class="role-card">
                <h2>Staff</h2>
                <p>
                    Login to manage students and results
                </p>

                <a href="/staff"
                   class="role-btn staff">
                   Staff Login
                </a>
            </div>

        </div>

    </div>

</div>

</body>
</html>
