<!DOCTYPE html>
<html>
<head>
    <title>{{ subject }} Examination</title>

    <!-- CSS -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="quiz-wrapper">

    <!-- HEADER -->
    <div class="quiz-header">
        <h1>{{ subject }} Online Examination</h1>

        <div class="timer-box">
            ⏳ Time Left:
            <span id="timer">10:00</span>
        </div>
    </div>

    <!-- FORM -->
    <form method="post" id="quizForm">

        {% for q in questions %}
        {% set q_index = loop.index0 %}

        <div class="question-card">

            <div class="question-title">
                Question {{ loop.index }}
            </div>

            <p class="question-text">
                {{ q.question }}
            </p>

            <div class="options">

                {% for opt in q.options %}
                <label class="option">

                    <input type="radio"
                           name="q{{ q_index }}"
                           value="{{ opt }}">

                    <span>{{ opt }}</span>

                </label>
                {% endfor %}

            </div>

        </div>

        {% endfor %}

        <button type="submit"
                class="submit-btn">
            Submit Examination
        </button>

    </form>
</div>

<!-- TIMER SCRIPT -->
<script>

// 10 minutes = 600 sec
let timeLeft = 600;

const timer = document.getElementById("timer");
const form  = document.getElementById("quizForm");

const countdown = setInterval(() => {

    let m = Math.floor(timeLeft / 60);
    let s = timeLeft % 60;

    timer.innerHTML =
        String(m).padStart(2,'0') + ":" +
        String(s).padStart(2,'0');

    if(timeLeft <= 0){

        clearInterval(countdown);

        alert("Time is up! Exam submitted automatically.");

        form.submit();
    }

    timeLeft--;

}, 1000);

</script>

</body>
</html>
