<!DOCTYPE html>
<html>
<head>
    <title>Staff Dashboard</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="dashboard-wrapper">

    <div class="dashboard-box">

        <h1>Staff Dashboard</h1>
        <p class="subtitle">
            Manage students and examination results
        </p>

        <!-- TOTAL ATTENDED -->
        <div class="stats-box">
            Total Students Attended Exam :
            <strong>{{ total_attended }}</strong>
        </div>

      
<h2 class="table-title">Exam Results</h2>

<table class="styled-table">

    <tr>
        <th>Name</th>
        <th>Roll No</th>
        <th>Class</th>
        <th>Department</th>
        <th>Subject</th>
        <th>Score</th>
        <th>Total</th>
        <th>Action</th>
    </tr>

    {% for r in results %}
    <tr>

        <td>{{ r[1] }}</td>   <!-- Name -->
        <td>{{ r[2] }}</td>   <!-- Rollno -->
        <td>{{ r[3] }}</td>   <!-- Class -->
        <td>{{ r[4] }}</td>   <!-- Department -->
        <td>{{ r[5] }}</td>   <!-- Subject -->
        <td>{{ r[6] }}</td>   <!-- Score -->
        <td>{{ r[7] }}</td>   <!-- Total -->

        <td>
            <a href="/delete/result/{{ r[0] }}"
               class="delete-btn">
               Delete
            </a>
        </td>

    </tr>
    {% endfor %}

</table>

        <!-- LOGOUT -->
        <div style="margin-top:30px;">
            <a href="/"
               class="role-btn staff">
               Logout
            </a>
        </div>

    </div>

</div>

</body>
</html>
